* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Sección de estilos generales del cuerpo de la página */
body {
  background: url('../Imageneshtml/fondoNavidad.jpg') center center fixed;
  background-size: cover;
  font-family: "Ubuntu", helvetica;
  height: 100vh; /* Asegura que el fondo cubra al menos el 100% de la altura de la pantalla */
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
}

a {
  text-decoration: none;
  color: rgb(255, 85, 0);
  transition: 0.5s ease;
}

a:hover {
  color: #ffffff;
}

.contenedor-formularios {
  background: rgba(53, 6, 77, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(53, 6, 77, 0.3);
}

.contenedor-tabs {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.contenedor-tabs:after {
  content: "";
  display: table;
  clear: both;
}

.contenedor-tabs li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgb(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.contenedor-tabs li a:hover {
  background: rgb(24, 127, 11);
  color: #fff;
}

.contenedor-tabs .active a {
  background: rgb(255, 85, 0);
  color: #fff;
}

.contenido-tab > div {
  display: none;
}

.contenido-tab > div.active {
  display: block;
}

h1 {
  text-align: center;
  color: #fff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

label .req {
  margin: 2px;
  color: rgb(255, 85, 0);
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

label.active .req {
  opacity: 0;
}

label.highlight {
  color: #fff;
}

input {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  border-radius: 0;
  transition: all 0.5s ease;
  border-radius: 5px;
  
}

input:focus {
  outline: none;
  border-color: rgb(255, 85, 0);
  
}

.contenedor-input {
  position: relative;
  margin-bottom: 40px;
}

.fila-arriba:after {
  content: "";
  display: table;
  clear: both;
}

.fila-arriba div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.fila-arriba div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 0;
  font-size: 2rem;
  background: rgb(255, 85, 0);
  color: #fff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button:hover, .button:focus {
  background: rgb(24, 127, 11);
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .fila-arriba div {
      width: 100%;
  }

  .fila-arriba div:last-child {
      margin-bottom: 40px;
  }
}

@media screen and (max-width: 400px) {
  .contenedor-tabs li a {
      width: 100%;
  }
}

/* Logo estilos */
.logo-enlace {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.logo-imagen {
  max-width: 100%;
  height: auto;
}

/* Estilos para el botón de Google */
.button-google {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

.button-google:hover {
  background-color: #f8f8f8;
}

/* Estilos para la imagen dentro del botón de Google */
.button-google img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}

/* Estilos para la leyenda encima del botón */
.leyenda {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  position: relative;
  color: #fdfdfd;
}


@keyframes successAnimation {
  0% {
      background-color: transparent;
  }
  50% {
      background-color: #00ff00;
  }
  100% {
      background-color: transparent;
  }
}

@keyframes errorAnimation {
  0% {
      background-color: transparent;
  }
  50% {
      background-color: #ff0000;
  }
  100% {
      background-color: transparent;
  }
}

.success {
  background-color: #00ff00;
}

.error {
  background-color: #ff0000;
}

